In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('test 4').getOrCreate()

In [2]:
df = spark.read.csv('dataset/test3.csv',header=True,inferSchema=True)
df.show(3)

+-----+------+--------+-----------+
| Item|Weight|     MRP|MRP_Imputed|
+-----+------+--------+-----------+
|FDA15|   9.3|249.8092|   249.8092|
|DRC01|  5.92| 48.2692|    48.2692|
|FDN15|  17.5| 141.618|    141.618|
+-----+------+--------+-----------+
only showing top 3 rows

In [3]:
### Grouped to find the maximum salary
df.groupBy('Item').sum().show()

+-----+------------------+------------------+------------------+
| Item|       sum(Weight)|          sum(MRP)|  sum(MRP_Imputed)|
+-----+------------------+------------------+------------------+
|FDB11|              80.0|          1126.702|          1126.702|
|FDO11|              24.0| 996.4368000000001| 996.4368000000001|
|DRA24|             96.75|         1148.6076|         1148.6076|
|FDU24|             27.12|           562.572|           562.572|
|FDW60|             10.88|           529.811|           529.811|
|FDW52|              42.0|          656.5104|          656.5104|
|FDN15|              87.5| 983.0260000000001| 983.0260000000001|
|FDQ20|              33.3|           199.969|           199.969|
|FDU10|              40.4|          151.0392|          151.0392|
|FDY43|             14.85|          169.7474|          169.7474|
|NCL54|              25.2| 526.6161999999999| 526.6161999999999|
|FDP39|             63.25|          368.4268|          368.4268|
|NCN30|             81.75|           584.646|           584.646|
|NCS30|            41.615| 899.4563999999999| 899.4563999999999|
|NCW05|              40.5|          217.2876|          217.2876|
|NCF42|121.44999999999999|1588.2408000000003|1588.2408000000003|
|FDX27|             103.5|           467.818|           467.818|
|FDD20|              28.3|          374.2138|          374.2138|
|FDW32|             110.1|          603.6174|          603.6174|
|NCW18|              45.3|          952.6992|          952.6992|
+-----+------------------+------------------+------------------+
only showing top 20 rows

In [4]:
df.groupBy('Item').avg().show()

+-----+------------------+------------------+------------------+
| Item|       avg(Weight)|          avg(MRP)|  avg(MRP_Imputed)|
+-----+------------------+------------------+------------------+
|FDB11|              16.0|          225.3404|          225.3404|
|FDO11|               6.0|249.10920000000002|249.10920000000002|
|DRA24|13.821428571428571|          164.0868|          164.0868|
|FDU24|4.5200000000000005|            93.762|            93.762|
|FDW60| 3.626666666666667|176.60366666666667|176.60366666666667|
|FDW52|              10.5|          164.1276|          164.1276|
|FDN15|              12.5| 140.4322857142857| 140.4322857142857|
|FDQ20| 6.659999999999999|           39.9938|           39.9938|
|FDU10|              10.1|           37.7598|           37.7598|
|FDY43|             14.85|          169.7474|          169.7474|
|NCL54|               8.4| 175.5387333333333| 175.5387333333333|
|FDP39| 9.035714285714286|52.632400000000004|52.632400000000004|
|NCN30|            13.625| 97.44099999999999| 97.44099999999999|
|NCS30|             5.945|128.49377142857142|128.49377142857142|
|NCW05|             20.25|          108.6438|          108.6438|
|NCF42|13.494444444444444|176.47120000000004|176.47120000000004|
|FDX27|              20.7|           93.5636|           93.5636|
|FDD20| 9.433333333333334|124.73793333333333|124.73793333333333|
|FDW32|15.728571428571428| 86.23105714285714| 86.23105714285714|
|NCW18|            11.325|          238.1748|          238.1748|
+-----+------------------+------------------+------------------+
only showing top 20 rows

In [5]:
df.groupBy('Item').mean().show()

+-----+------------------+------------------+------------------+
| Item|       avg(Weight)|          avg(MRP)|  avg(MRP_Imputed)|
+-----+------------------+------------------+------------------+
|FDB11|              16.0|          225.3404|          225.3404|
|FDO11|               6.0|249.10920000000002|249.10920000000002|
|DRA24|13.821428571428571|          164.0868|          164.0868|
|FDU24|4.5200000000000005|            93.762|            93.762|
|FDW60| 3.626666666666667|176.60366666666667|176.60366666666667|
|FDW52|              10.5|          164.1276|          164.1276|
|FDN15|              12.5| 140.4322857142857| 140.4322857142857|
|FDQ20| 6.659999999999999|           39.9938|           39.9938|
|FDU10|              10.1|           37.7598|           37.7598|
|FDY43|             14.85|          169.7474|          169.7474|
|NCL54|               8.4| 175.5387333333333| 175.5387333333333|
|FDP39| 9.035714285714286|52.632400000000004|52.632400000000004|
|NCN30|            13.625| 97.44099999999999| 97.44099999999999|
|NCS30|             5.945|128.49377142857142|128.49377142857142|
|NCW05|             20.25|          108.6438|          108.6438|
|NCF42|13.494444444444444|176.47120000000004|176.47120000000004|
|FDX27|              20.7|           93.5636|           93.5636|
|FDD20| 9.433333333333334|124.73793333333333|124.73793333333333|
|FDW32|15.728571428571428| 86.23105714285714| 86.23105714285714|
|NCW18|            11.325|          238.1748|          238.1748|
+-----+------------------+------------------+------------------+
only showing top 20 rows

In [6]:
df.groupBy('Item').count().show()

+-----+-----+
| Item|count|
+-----+-----+
|FDB11|    5|
|FDO11|    4|
|DRA24|    7|
|FDU24|    6|
|FDW60|    3|
|FDW52|    4|
|FDN15|    7|
|FDQ20|    5|
|FDU10|    4|
|FDY43|    1|
|NCL54|    3|
|FDP39|    7|
|NCN30|    6|
|NCS30|    7|
|NCW05|    2|
|NCF42|    9|
|FDX27|    5|
|FDD20|    3|
|FDW32|    7|
|NCW18|    4|
+-----+-----+
only showing top 20 rows

In [7]:
df.agg({'MRP':'sum'}).show()

+------------------+
|          sum(MRP)|
+------------------+
|1201681.4808000007|
+------------------+

In [8]:
df.agg({'MRP_Imputed':'sum'}).show()

+------------------+
|  sum(MRP_Imputed)|
+------------------+
|1201681.4808000007|
+------------------+

In [9]:
df.agg({'Weight':'sum'}).show()

+-----------------+
|      sum(Weight)|
+-----------------+
|90774.97500000146|
+-----------------+

In [10]:
df.agg({'Item':'sum'}).show()

+---------+
|sum(Item)|
+---------+
|     null|
+---------+