In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('test 2').getOrCreate()

In [2]:
df = spark.read.csv('dataset/test1.csv',header=True,inferSchema=True)
df.show(3)

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
+---------------+-----------+--------+---------------+
only showing top 3 rows

In [3]:
df.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Item_Weight + 2: double (nullable = true)

In [4]:
df.na.drop().show()

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
|          FDX07|       19.2| 182.095|           21.2|
|          NCD19|       8.93| 53.8614|          10.93|
|          FDP36|     10.395| 51.4008|         12.395|
|          FDO10|      13.65| 57.6588|          15.65|
|          FDH17|       16.2| 96.9726|           18.2|
|          FDU28|       19.2|187.8214|           21.2|
|          FDY07|       11.8| 45.5402|           13.8|
|          FDA03|       18.5|144.1102|           20.5|
|          FDX32|       15.1|145.4786|           17.1|
|          FDS46|       17.6|119.6782|           19.6|
|          FDF32|      16.35|196.4426|          18.35|
|          FDP49|        9.0| 56.3614|           11.0|
|          NCB42|       11.8|115.3492|           13.8|
|          FDP49|        9.0| 54.3614|           11.0|
|          FDU02|      13.35|230.5352|          15.35|
|          FDN22|      18.85|250.8724|          20.85|
|          NCB30|       14.6|196.5084|           16.6|
+---------------+-----------+--------+---------------+
only showing top 20 rows

In [5]:
df.na.drop(how="any").show()

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
|          FDX07|       19.2| 182.095|           21.2|
|          NCD19|       8.93| 53.8614|          10.93|
|          FDP36|     10.395| 51.4008|         12.395|
|          FDO10|      13.65| 57.6588|          15.65|
|          FDH17|       16.2| 96.9726|           18.2|
|          FDU28|       19.2|187.8214|           21.2|
|          FDY07|       11.8| 45.5402|           13.8|
|          FDA03|       18.5|144.1102|           20.5|
|          FDX32|       15.1|145.4786|           17.1|
|          FDS46|       17.6|119.6782|           19.6|
|          FDF32|      16.35|196.4426|          18.35|
|          FDP49|        9.0| 56.3614|           11.0|
|          NCB42|       11.8|115.3492|           13.8|
|          FDP49|        9.0| 54.3614|           11.0|
|          FDU02|      13.35|230.5352|          15.35|
|          FDN22|      18.85|250.8724|          20.85|
|          NCB30|       14.6|196.5084|           16.6|
+---------------+-----------+--------+---------------+
only showing top 20 rows

In [6]:
df.na.drop(how="any",thresh=3).show()

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
|          FDX07|       19.2| 182.095|           21.2|
|          NCD19|       8.93| 53.8614|          10.93|
|          FDP36|     10.395| 51.4008|         12.395|
|          FDO10|      13.65| 57.6588|          15.65|
|          FDH17|       16.2| 96.9726|           18.2|
|          FDU28|       19.2|187.8214|           21.2|
|          FDY07|       11.8| 45.5402|           13.8|
|          FDA03|       18.5|144.1102|           20.5|
|          FDX32|       15.1|145.4786|           17.1|
|          FDS46|       17.6|119.6782|           19.6|
|          FDF32|      16.35|196.4426|          18.35|
|          FDP49|        9.0| 56.3614|           11.0|
|          NCB42|       11.8|115.3492|           13.8|
|          FDP49|        9.0| 54.3614|           11.0|
|          FDU02|      13.35|230.5352|          15.35|
|          FDN22|      18.85|250.8724|          20.85|
|          NCB30|       14.6|196.5084|           16.6|
+---------------+-----------+--------+---------------+
only showing top 20 rows

In [7]:
df.na.drop(how="any",subset=['Item_Weight']).show()

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
|          FDX07|       19.2| 182.095|           21.2|
|          NCD19|       8.93| 53.8614|          10.93|
|          FDP36|     10.395| 51.4008|         12.395|
|          FDO10|      13.65| 57.6588|          15.65|
|          FDH17|       16.2| 96.9726|           18.2|
|          FDU28|       19.2|187.8214|           21.2|
|          FDY07|       11.8| 45.5402|           13.8|
|          FDA03|       18.5|144.1102|           20.5|
|          FDX32|       15.1|145.4786|           17.1|
|          FDS46|       17.6|119.6782|           19.6|
|          FDF32|      16.35|196.4426|          18.35|
|          FDP49|        9.0| 56.3614|           11.0|
|          NCB42|       11.8|115.3492|           13.8|
|          FDP49|        9.0| 54.3614|           11.0|
|          FDU02|      13.35|230.5352|          15.35|
|          FDN22|      18.85|250.8724|          20.85|
|          NCB30|       14.6|196.5084|           16.6|
+---------------+-----------+--------+---------------+
only showing top 20 rows

In [8]:
df2 = df.na.fill(0)
df2.show()

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
|          FDX07|       19.2| 182.095|           21.2|
|          NCD19|       8.93| 53.8614|          10.93|
|          FDP36|     10.395| 51.4008|         12.395|
|          FDO10|      13.65| 57.6588|          15.65|
|          FDP10|        0.0|107.7622|            0.0|
|          FDH17|       16.2| 96.9726|           18.2|
|          FDU28|       19.2|187.8214|           21.2|
|          FDY07|       11.8| 45.5402|           13.8|
|          FDA03|       18.5|144.1102|           20.5|
|          FDX32|       15.1|145.4786|           17.1|
|          FDS46|       17.6|119.6782|           19.6|
|          FDF32|      16.35|196.4426|          18.35|
|          FDP49|        9.0| 56.3614|           11.0|
|          NCB42|       11.8|115.3492|           13.8|
|          FDP49|        9.0| 54.3614|           11.0|
|          DRI11|        0.0|113.2834|            0.0|
|          FDU02|      13.35|230.5352|          15.35|
+---------------+-----------+--------+---------------+
only showing top 20 rows

In [9]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Item_Weight', 'Item_MRP'], 
    outputCols=["{}_imputed".format(c) for c in ['Item_Weight', 'Item_MRP']]
    ).setStrategy("median")

In [10]:
df3 = imputer.fit(df2).transform(df2)
df3.show()

+---------------+-----------+--------+---------------+-------------------+----------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|Item_Weight_imputed|Item_MRP_imputed|
+---------------+-----------+--------+---------------+-------------------+----------------+
|          FDA15|        9.3|249.8092|           11.3|                9.3|        249.8092|
|          DRC01|       5.92| 48.2692|           7.92|               5.92|         48.2692|
|          FDN15|       17.5| 141.618|           19.5|               17.5|         141.618|
|          FDX07|       19.2| 182.095|           21.2|               19.2|         182.095|
|          NCD19|       8.93| 53.8614|          10.93|               8.93|         53.8614|
|          FDP36|     10.395| 51.4008|         12.395|             10.395|         51.4008|
|          FDO10|      13.65| 57.6588|          15.65|              13.65|         57.6588|
|          FDP10|        0.0|107.7622|            0.0|                0.0|        107.7622|
|          FDH17|       16.2| 96.9726|           18.2|               16.2|         96.9726|
|          FDU28|       19.2|187.8214|           21.2|               19.2|        187.8214|
|          FDY07|       11.8| 45.5402|           13.8|               11.8|         45.5402|
|          FDA03|       18.5|144.1102|           20.5|               18.5|        144.1102|
|          FDX32|       15.1|145.4786|           17.1|               15.1|        145.4786|
|          FDS46|       17.6|119.6782|           19.6|               17.6|        119.6782|
|          FDF32|      16.35|196.4426|          18.35|              16.35|        196.4426|
|          FDP49|        9.0| 56.3614|           11.0|                9.0|         56.3614|
|          NCB42|       11.8|115.3492|           13.8|               11.8|        115.3492|
|          FDP49|        9.0| 54.3614|           11.0|                9.0|         54.3614|
|          DRI11|        0.0|113.2834|            0.0|                0.0|        113.2834|
|          FDU02|      13.35|230.5352|          15.35|              13.35|        230.5352|
+---------------+-----------+--------+---------------+-------------------+----------------+
only showing top 20 rows

In [12]:
df3.toPandas().to_csv("dataset/test2.csv", header=True, index=False)