In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /home/sujit/anaconda3/envs/tensorflow/lib/python3.6/site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /home/sujit/anaconda3/envs/tensorflow/lib/python3.6/site-packages (from pyspark) (0.10.9)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('test').getOrCreate()
spark

In [6]:
import pyspark
from datetime import datetime, date
from pyspark.sql import Row

In [7]:
df = spark.read.option('header', True).csv('dataset/data.csv', inferSchema=True)
df

DataFrame[Item_Identifier: string, Item_Weight: double, Item_Fat_Content: string, Item_Visibility: double, Item_Type: string, Item_MRP: double, Outlet_Identifier: string, Outlet_Establishment_Year: int, Outlet_Size: string, Outlet_Location_Type: string, Outlet_Type: string, Item_Outlet_Sales: double]

In [8]:
df.show(2)

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|  Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|      Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 2 rows

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

In [13]:
df2 = spark.read.csv('dataset/data.csv', header = True, inferSchema = True)
df2.show(2)

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|  Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|      Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 2 rows

In [14]:
df2.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

In [15]:
df2.head(2)

[Row(Item_Identifier='FDA15', Item_Weight=9.3, Item_Fat_Content='Low Fat', Item_Visibility=0.016047301, Item_Type='Dairy', Item_MRP=249.8092, Outlet_Identifier='OUT049', Outlet_Establishment_Year=1999, Outlet_Size='Medium', Outlet_Location_Type='Tier 1', Outlet_Type='Supermarket Type1', Item_Outlet_Sales=3735.138),
 Row(Item_Identifier='DRC01', Item_Weight=5.92, Item_Fat_Content='Regular', Item_Visibility=0.019278216, Item_Type='Soft Drinks', Item_MRP=48.2692, Outlet_Identifier='OUT018', Outlet_Establishment_Year=2009, Outlet_Size='Medium', Outlet_Location_Type='Tier 3', Outlet_Type='Supermarket Type2', Item_Outlet_Sales=443.4228)]

In [16]:
df2.select(['Item_Identifier', 'Item_Weight']).show(2)

+---------------+-----------+
|Item_Identifier|Item_Weight|
+---------------+-----------+
|          FDA15|        9.3|
|          DRC01|       5.92|
+---------------+-----------+
only showing top 2 rows

In [17]:
df2.select(['Item_Identifier', 'Item_Weight', 'Item_MRP']).show(2)

+---------------+-----------+--------+
|Item_Identifier|Item_Weight|Item_MRP|
+---------------+-----------+--------+
|          FDA15|        9.3|249.8092|
|          DRC01|       5.92| 48.2692|
+---------------+-----------+--------+
only showing top 2 rows

In [18]:
df2['Item_Identifier']

Column<'Item_Identifier'>

In [19]:
df2.dtypes

[('Item_Identifier', 'string'),
 ('Item_Weight', 'double'),
 ('Item_Fat_Content', 'string'),
 ('Item_Visibility', 'double'),
 ('Item_Type', 'string'),
 ('Item_MRP', 'double'),
 ('Outlet_Identifier', 'string'),
 ('Outlet_Establishment_Year', 'int'),
 ('Outlet_Size', 'string'),
 ('Outlet_Location_Type', 'string'),
 ('Outlet_Type', 'string'),
 ('Item_Outlet_Sales', 'double')]

In [20]:
df3 = df2.select(['Item_Identifier', 'Item_Weight', 'Item_MRP'])
df3.show(3)

+---------------+-----------+--------+
|Item_Identifier|Item_Weight|Item_MRP|
+---------------+-----------+--------+
|          FDA15|        9.3|249.8092|
|          DRC01|       5.92| 48.2692|
|          FDN15|       17.5| 141.618|
+---------------+-----------+--------+
only showing top 3 rows

In [21]:
df4 = df3.withColumn('sujit', df3['Item_Weight'] + 2)
df4.show(4)

+---------------+-----------+--------+-----+
|Item_Identifier|Item_Weight|Item_MRP|sujit|
+---------------+-----------+--------+-----+
|          FDA15|        9.3|249.8092| 11.3|
|          DRC01|       5.92| 48.2692| 7.92|
|          FDN15|       17.5| 141.618| 19.5|
|          FDX07|       19.2| 182.095| 21.2|
+---------------+-----------+--------+-----+
only showing top 4 rows

In [22]:
df4 = df3.withColumn('Item_Weight with 2', df3['Item_Weight'] + 2)
df4.show(3)

+---------------+-----------+--------+------------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight with 2|
+---------------+-----------+--------+------------------+
|          FDA15|        9.3|249.8092|              11.3|
|          DRC01|       5.92| 48.2692|              7.92|
|          FDN15|       17.5| 141.618|              19.5|
+---------------+-----------+--------+------------------+
only showing top 3 rows

In [23]:
df5 = df4.drop('sujit')
df5.show(3)

+---------------+-----------+--------+------------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight with 2|
+---------------+-----------+--------+------------------+
|          FDA15|        9.3|249.8092|              11.3|
|          DRC01|       5.92| 48.2692|              7.92|
|          FDN15|       17.5| 141.618|              19.5|
+---------------+-----------+--------+------------------+
only showing top 3 rows

In [24]:
df6 = df5.withColumnRenamed('Item_Weight with 2', 'Item_Weight + 2')
df6.show(4)

+---------------+-----------+--------+---------------+
|Item_Identifier|Item_Weight|Item_MRP|Item_Weight + 2|
+---------------+-----------+--------+---------------+
|          FDA15|        9.3|249.8092|           11.3|
|          DRC01|       5.92| 48.2692|           7.92|
|          FDN15|       17.5| 141.618|           19.5|
|          FDX07|       19.2| 182.095|           21.2|
+---------------+-----------+--------+---------------+
only showing top 4 rows

In [25]:
df6.toPandas()

     Item_Identifier  Item_Weight  Item_MRP  Item_Weight + 2
0              FDA15        9.300  249.8092           11.300
1              DRC01        5.920   48.2692            7.920
2              FDN15       17.500  141.6180           19.500
3              FDX07       19.200  182.0950           21.200
4              NCD19        8.930   53.8614           10.930
...              ...          ...       ...              ...
8518           FDF22        6.865  214.5218            8.865
8519           FDS36        8.380  108.1570           10.380
8520           NCJ29       10.600   85.1224           12.600
8521           FDN46        7.210  103.1332            9.210
8522           DRG01       14.800   75.4670           16.800

[8523 rows x 4 columns]

In [26]:
df6.toPandas().to_csv("dataset/test1.csv", header=True, index=False)